.container {
  width: 600px;
  margin: 50px auto;
}

/* CSS for RegistrationForm */

form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.reg{
  padding: 10px;
  margin-left: 10%;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CSS for LoginForm */

form {
  align-content: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.reset{
  padding: 10px;
}
/* Media queries for responsiveness */

/* Show login form by default and registration form on larger screens */
@media only screen and (min-width: 650px) {
  form.login-form {
    display: none;
  }

  form.registration-form {
    display: block;
  }
}

/* Show registration form on smaller screens */
@media only screen and (max-width: 767px) {
  form.login-form {
    display: block;
  }

  form.registration-form {
    display: none;
  }
}
